* {
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: #0056B3 !important;
    font-size: 24px;
}

.navbar-nav {
    padding-top: 5px;
}

.footer {
    background-color: #F8F9FA;
    padding-top: 10px;
    padding-bottom: 10px;
}

.avatar_small {
    width: 33px;
    height: auto;
    border: 0px solid grey;
    border-radius: 15px;
}

.avatar_full {
    width: 150px;
    height: auto;
}

.nav-link1 {
    color: #212529;
}

.nav-link1:hover {
    text-decoration: none;
}

.footer_link {
    list-style: none;
}