<div class="row mt-3 justify-content-center ">
    <div class="col-md-6 text-center">
        <p>Roomy (c) 2018</p>
        <p>Rent a comfortable home, stay positive</p>
    </div>
    <div class="col-md-6 footer_link text-center">
        <li>
            <%= link_to "Users", "#" %>
        </li>
        <li>
            <%= link_to "Articles", "#" %>
        </li>
        <li>
            <%= link_to "About", "#" %>
        </li>
    </div>
</div>